.HomePage {
    height: 100vh;
}

.color-bg-h1 {
    background-color: #ffbe32;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #000000;
    padding: 10px;
}

.hover-btn {
    color: rgba(0, 0, 0, 0.897) !important;
    background-color: #ffbe32 !important;
    box-shadow: 3px 3px 5px #000000;
    transition: background-color 0.3s ease-in-out;
    border-radius: none !important;
}

.hover-btn:hover {
    color: whitesmoke !important;
    background-color: #bf7c1d !important;
}